body {
  text-align: center;
  margin: 0;
  background-color: #f4f2ec;
  text-underline-position: under;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}

#backIcon {
  color: #f4f2ec;
  font-size: smaller;
}

#content {
  margin: 20px;
  flex-direction: column;
}
#menubar {
  border: none;
  height: 30px;
  width: 100%;
  margin: 20px, 0;
}
.menu_btn {
  background-color: #be2623;
  color: #f4f2ec;
  border: 10px #fff;
  cursor: pointer;
  width: 70px;
  height: 30px;

  margin-bottom: 10px;
  font-size: 15px;
  border-radius: 6px;
}
#sort_btn {
  background-color: #be2623;
  color: #f4f2ec;
  border: 10px #fff;
  cursor: pointer;
  width: 90px;
  padding: 7px 3px 6px 6px;
  margin-bottom: 10px;

  font-size: 14.5px;
  border-radius: 6px;
}
#sort_btn select {
  margin-left: 4px;
  width: 80px;
  background-color: #be2623;
  color: #f4f2ec;
  border: #a3966d 1px solid;
  border-radius: 2px;
}

#filter {
  margin-right: 3px;
}
#write {
  margin-left: 3px;
}

#postList {
  margin-top: 15px;
  /* margin-bottom: 20px;
  border: black solid 1px;
  width: 100%;
  height: 450px; */
}

.postTitle {
  display: block;
  font-weight: bold;
  padding: 3px;
  margin-bottom: 2px;
  width: 315px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.postWriter {
  font-size: 13px;
  display: inline-block;

  width: 95px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .second {
  text-align: right;
  width: 320px;
  height: 30px;
  display: inline-block;
} */
.postPay {
  width: 85px;
  display: inline-block;

  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postEnd {
  width: 117px;
  display: inline-block;

  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*필터 모달창*/
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

.modal_content h3 {
  background-color: #fefefe;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 15px;
  width: 70%;
}
#modal_info {
  text-align: left;
  margin-bottom: 10px;
}
#modal_info #pay {
  width: 60px;
}
#modal_info b {
  margin-right: 5px;
}
.genderInfo {
  margin-left: -6px;
}
#womanLabel {
  margin-left: -1px;
}

.modal_content button {
  margin-left: 3px;
  margin-right: 3px;
  width: 60px;
  background-color: #0e3746;
  color: #f4f2ec;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

/* 사이드바 */
.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #e0dedc;
  font-size: 30px;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0;
}
.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0e3746;
  height: 50px;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#menuIcon {
  color: #fff;
}
.nav a {
  display: block;
  padding: 20px 30px;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.nav .close {
  position: absolute;
  top: 0;
  left: 10px;
  margin-right: 50px;
  font-size: 30px;
}
.slide a {
  font-size: 32px;
  height: 50px;
}
#page {
  transition: margin-right 0.7s;
  overflow: hidden;
  width: 100%;
}

h2 {
  margin: 0;
  color: #ffffff;
  height: 50px;
  margin-left: 15px;
  padding-top: 10px;
}

.post {
  border: #999 solid 1px;
  width: 100%;
  margin-bottom: 5px;
  background-color: #fff;
}
