body {
  background: #0e3746;
}

#header {
  /* display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #f4f2ec; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0e3746;
  height: 50px;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  margin: 0;
  text-align: start;
  flex-grow: 5;
}
#signupForm {
  background: #f4f2ec;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 344px;
  height: 100%;
  align-items: center;
}

.backBtn {
  color: #f4f2ec;
  left: 32px;
  font-size: 30px;
  flex-grow: 4.1;
}
