body {
  background: #0e3746;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#backIcon {
  color: #0e3746;
  font-size: smaller;
}

#signupForm {
  padding-top: 10px;
  background: #f4f2ec;
  width: 300px;
  /* padding-left: auto; */
  /* padding-right: ; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

#signupLogo {
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.inputContainer {
  background: #f4f2ec;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

  /* width: 320px; */
  height: 100%;
  align-items: center;
}

.backBtn {
  color: #f4f2ec;
  left: 32px;
  font-size: 30px;
  flex-grow: 4.1;
}

input {
  border: none;
  /* color: #f4f2ec; */

  background-color: #f4f2ec;
  border-bottom: 3px solid #d9d9d9;
  /* width: 70%; */
  margin-bottom: 15px;
  /* font-size: 10px; */
  padding: 3px 0px 3px 0px;
}

#submit {
  background-color: #be2623;
  color: #f4f2ec;
  border: none;
  cursor: pointer;
  width: 180px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  padding: 3px;
}

.inputBar {
  width: 180px;
}

select {
  margin-bottom: 15px;
  padding: 3px 0px 3px 0px;
  background-color: #f4f2ec;
}
