/* 사이드바 */
.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #e0dedc;
  font-size: 30px;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0;
}
.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0e3746;
  height: 50px;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#menuIcon {
  color: #fff;
}
.nav a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.nav label {
  font-size: 22px;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
}
.nav img {
  width: 42px;
  height: 42px;
  margin-right: -7px;
  vertical-align: middle;
  padding-top: 5px;
}

#mypageIcon {
  width: 35px;
  height: 35px;
  margin-right: 0px;
  padding-top: 0px;
}
.nav div {
  padding: 20px;
}
.nav .close {
  position: absolute;
  top: 0;
  left: 10px;
  margin-right: 50px;
  font-size: 30px;
}
.slide a {
  font-size: 32px;
  height: 50px;
}
#page {
  transition: margin-right 0.7s;
  overflow: hidden;
  width: 100%;
}

h1 {
  margin: 0;
  color: #ffffff;
  height: 50px;
  margin-left: 15px;
  font-size: 30px;
}

/* 사이드바 끝*/

body {
  text-align: center;
  margin: 0;
  background-color: #f4f2ec;
  text-underline-position: under;
}

#content {
  margin: 20px;
  flex-direction: column;
}

#userProfile {
  height: 100px;
  width: 100%;
  margin: 20px, 0;
  flex-direction: row;
  margin-bottom: 20px;
}
#userPhoto {
  width: 102px;
  height: 102px;
  margin-right: 0;
  float: left;
  object-fit: fill;
  overflow: hidden;
  border-radius: 20px;
  border: solid 1px #999;
}

#photo {
  width: 102px;
  height: 102px;
  object-fit: fill;
  border-radius: 20px;
}

#userInfo {
  width: 200px;
  height: 102px;
  float: right;
  text-align: left;
  margin-left: 10px;
}
#userInfo p {
  margin: 0;
  padding: 0;
}

.box {
  height: 130px;
  width: 322px;
  margin: 20px, 0;
  margin-bottom: 20px;
}

.label {
  text-align: left;
  margin-top: 0;
  margin-bottom: 5px;
}
.object {
  border: 1px #999 solid;
  height: 20px;
  width: 320px;
  text-align: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
  margin-bottom: 4px;
}
#applicantBtn {
  width: 322px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-decoration: none;
  margin-bottom: 10px;
}
.Btn {
  background-color: #ddd6bd;
  border: 1px solid #999;

  margin: 0;
  text-decoration: none;
}

#userName p {
  float: right;
}

#userEmail p {
  float: right;
}

#userBirthDate p {
  float: right;
}
#userBirthDate {
  margin-bottom: 10px;
}

#modifyUserInfoBtn {
  border-radius: 3px;
  margin-left: 38px;
  background-color: #be2623;
  color: #f4f2ec;
  border: none;
  cursor: pointer;
  width: 96px;
  text-align: center;
  text-decoration: none;
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

.list {
  width: 100%;
  height: 110px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: none;
}
#applicantList {
  height: 130px;
}

/*별점평가 모달창*/

#starScoreModal {
  display: none; /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}
form {
  margin-bottom: 10px;
}

.modal_content button {
  margin-left: 3px;
  margin-right: 3px;
  width: 60px;
  background-color: #0e3746;
  color: #f4f2ec;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

#myform fieldset {
  display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
  direction: rtl; /* 이모지 순서 반전 */
  border: 0; /* 필드셋 테두리 제거 */
}
#myform fieldset legend {
  text-align: left;
}
#myform input[type="radio"] {
  display: none; /* 라디오박스 감춤 */
}
#myform label {
  font-size: 15px; /* 이모지 크기 */
  color: transparent; /* 기존 이모지 컬러 제거 */
  text-shadow: 0 0 0 gray; /* 새 이모지 색상 부여 */
}
#myform label:hover {
  text-shadow: 0 0 0 orangered; /* 마우스 호버 */
}
#myform label:hover ~ label {
  text-shadow: 0 0 0 orangered; /* 마우스 호버 뒤에오는 이모지들 */
}
#myform input[type="radio"]:checked ~ label {
  text-shadow: 0 0 0 orangered; /* 마우스 클릭 체크 */
}
/*별점평가 모달창 끝*/
